<nav class="nav">
    <div class="nav-left">
        <a class="nav-item is-tab">Syzible</a>
    </div>
    <div class="nav-right">
        <a class="nav-item is-tab is-active" href="/">Home</a>
        <a class="nav-item is-tab" href="/work-experience">Work Experience</a>
        <a class="nav-item is-tab" href="/developers">Developers</a>
        <a class="nav-item is-tab" href="/tearma">Téarma.ie</a>
    </div>
</nav>

<div class="is-fluid is-marginless">
    <section class="hero is-medium front-has-image-background" style="background-color: #FF5252">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title text-is-white" style="color: white;">
                    Syzible
                </h1>
                <h2 class="subtitle color-is-white" style="color: white">
                    Paramount elegance.
                </h2>
            </div>
        </div>
    </section>
</div>

<!-- projects -->
<div class="is-fluid is-marginless" style="padding-bottom: 1em">
    {{#each apps}}
        <div class="card">
            <div class="card-image" style="padding-top: 1em;">
                <figure class="image is-128x128" style="margin: auto">
                    <img src="{{image}}" alt="Image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4 has-text-centered">{{name}}</p>
                    </div>
                </div>

                <div class="content has-text-centered">
                    {{description}}
                </div>
            </div>

            <footer class="card-footer">
                {{#if url}}
                    <a class="card-footer-item"
                       href='{{url}}{{badge_res}}'
                       target='_blank'>
                        <img style="width: 50%; display: inline-block" alt='Get it on Google Play'
                             src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
                    <a class="card-footer-item">Coming soon to iOS!</a>
                {{else}}
                    <a class="card-footer-item">Coming soon to Android!</a>
                    <a class="card-footer-item">Coming soon to iOS!</a>
                {{/if}}
            </footer>
        </div>
    {{/each}}
</div>