<nav class="nav">
    <div class="nav-left">
        <a class="nav-item is-tab">Syzible</a>
    </div>
    <div class="nav-right">
        <a class="nav-item is-tab" href="/">Home</a>
        <a class="nav-item is-tab" href="/work-experience">Work Experience</a>
        <a class="nav-item is-tab" href="/developers">Developers</a>
        <a class="nav-item is-tab is-active" href="/tearma">Téarma.ie</a>
    </div>
</nav>

<div class="is-fluid is-marginless">
    <section class="hero is-medium front-has-image-background" style="background-color: #FF5252">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title text-is-white" style="color: white;">
                    {{#compare data.length ">" 0}}
                        This is what I found for "{{searchQuery}}"
                    {{else}}
                        No results for "{{searchQuery}}" :(
                    {{/compare}}
                </h1>

                <h2 class="subtitle color-is-white" style="color: white">
                    {{#compare data.length "==" 1}}
                        {{data.length}} result
                    {{else}}
                        {{data.length}} results
                    {{/compare}}
                </h2>
            </div>
        </div>
    </section>
</div>

<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell" style="text-align: center">
        <div>
            <div class="mdl-card__title-text" style="display: inline-block">
                <a class="mdl-card__title-text" style="color: #FF5252" href="/tearma">Search again?</a>
            </div>
        </div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>

<!-- en search for a ga result -->
{{#compare data.length ">" "0"}}
    {{#if lang_en}}
        {{#each data}}
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        {{#each mutations}}
                            <p class="title is-3">{{root}}</p>
                        {{/each}}
                        <p class="subtitle is-5">{{searchTerm}}</p>

                        {{#compare signpost "!=" "-1"}}
                            <div>{{signpost}}</div>
                        {{/compare}}

                        {{#compare searchType "===" "noun"}}
                            {{#each mutations}}
                                <div>{{#if genSing}}gs: {{genSing}}{{/if}}
                                    {{#if nomPlu}} np: {{nomPlu}}{{/if}}
                                    {{#if genPlu}} gp: {{genPlu}}{{/if}}</div>
                            {{/each}}
                        {{else}}
                            {{#compare searchType "===" "verb"}}
                                {{#each mutations}}
                                    <div>{{#if gerund}}gerund: {{gerund}}{{/if}}
                                        {{#if participle}} participle: {{participle}}{{/if}}</div>
                                {{/each}}
                            {{/compare}}
                        {{/compare}}
                        {{#compare searchType "===" "noun"}}
                            <!-- check if declension exists given it's a noun -->
                            <div>{{searchType}}
                                {{#compare declension "===" -1}}
                                    {{gender}}
                                {{else}}
                                    declension {{declension}} {{gender}}
                                {{/compare}}</div>
                        {{else}}
                            <div>{{searchType}}</div>
                        {{/compare}}
                        <br>
                        {{#each domains}}
                            <div>{{en}}</div>
                            <div>{{ga}}</div>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <!-- ga word looking for en result -->
        {{#each data}}
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        {{#each mutations}}
                            <p class="title is-3">{{root}}</p>
                        {{/each}}
                        <p class="subtitle is-5">{{searchTerm}}</p>

                        {{#compare signpost "!=" "-1"}}
                            <div>{{signpost}}</div>
                        {{/compare}}
                        {{#compare searchType "===" "noun"}}
                            {{#each searchMutations}}
                                <div>{{#if genSing}}gs: {{genSing}}{{/if}}
                                    {{#if nomPlu}} np: {{nomPlu}}{{/if}}
                                    {{#if genPlu}} gp: {{genPlu}}{{/if}}</div>
                            {{/each}}
                        {{else}}
                            {{#compare searchType "===" "verb"}}
                                {{#each searchMutations}}
                                    <div>{{#if gerund}}gerund: {{gerund}}{{/if}}
                                        {{#if participle}} participle: {{participle}}{{/if}}</div>
                                {{/each}}
                            {{/compare}}
                        {{/compare}}
                        <div>{{searchType}}
                            {{#compare searchType "==" "noun"}}
                                {{#compare declension "==" "-1"}}
                                    {{gender}}
                                {{else}}
                                    declension {{declension}} {{gender}}
                                {{/compare}}
                            {{/compare}}</div>
                        <br>
                        {{#each domains}}
                            <div>{{en}}</div>
                            <div>{{ga}}</div>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/each}}
    {{/if}}
{{else}}
    <div class="column">
        <div class="card">
            <div class="card-content">
            <p class="title is-3">{{searchQuery}}</p>
            <p class="subtitle is-5">No results!</p>
            <div>Make sure the switch is on if searching for English words and that everything is spelled
                correctly
            </div>
        </div>
    </div>
{{/compare}}