<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell">
        <h3 class="" style="text-align: center">Results for {{searchQuery}}</h3>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>

<div class="mdl-grid load-animations">
    <!-- en search for a ga result -->
    {{#if lang_en}}
        {{#each data}}
            <div class="mdl-cell">
                <div class="mdl-card mdl-shadow--2dp result-card">
                    {{#each gaMutations}}
                        <h2 class="mdl-card__title-text">{{root}}</h2>
                    {{/each}}
                    <h3 class="mdl-card__title-text">{{enSearchTerm}}</h3>
                    {{#each gaMutations}}
                        <div>{{#if genSing}}gs: {{genSing}} {{/if}}{{#if nomPlu}} np: {{nomPlu}} {{/if}}{{#if genPlu}}
                            np: {{nomPlu}}{{/if}}</div>
                    {{/each}}
                    <div>{{enSearchType}} / {{gaDeclension}} / {{gaGender}}</div>
                    <br>
                    {{#each domains}}
                        <div>{{en}}</div>
                        <div>{{ga}}</div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    {{else}}
        {{#each data}}
            <div class="mdl-cell">
                <div class="mdl-card mdl-shadow--2dp result-card">
                    {{#each enMutations}}
                        <h2 class="mdl-card__title-text">{{root}}</h2>
                    {{/each}}
                    <h3 class="mdl-card__title-text">{{gaSearchTerm}}</h3>
                    <div>{{gaSearchType}}</div>
                    <br>
                    {{#each domains}}
                        <div>{{en}}</div>
                        <div>{{ga}}</div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    {{/if}}
</div>