<nav class="nav">
    <div class="nav-left">
        <a class="nav-item is-tab">Syzible</a>
    </div>
    <div class="nav-right">
        <a class="nav-item is-tab" href="/">Home</a>
        <a class="nav-item is-tab is-active" href="/work-experience">Work Experience</a>
        <a class="nav-item is-tab" href="/developers">Developers</a>
        <a class="nav-item is-tab" href="/tearma">Téarma.ie</a>
    </div>
</nav>

<div class="is-fluid is-marginless">
    <section class="hero is-medium front-has-image-background" style="background-color: #FF5252">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title text-is-white" style="color: white;">
                    Work Experience
                </h1>

                <h2 class="subtitle color-is-white" style="color: white">
                    {{jobs.length}} previous jobs
                </h2>
            </div>
        </div>
    </section>
</div>


<div class="is-fluid is-marginless" style="padding-bottom: 1em">
    {{#each jobs}}
        <div class="card animated bounceIn">
            <div class="card-image" style="padding-top: 1em;">
                <figure class="image is-128x128" style="margin: auto; display: flex; flex-direction: column; justify-content: center;">
                    <img src="{{image}}" alt="Image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4 has-text-centered">{{employer}}</p>
                        <p class="subtitle is-6 has-text-centered">{{title}}</p>
                    </div>
                </div>

                <div class="content has-text-centered">
                    {{period}}
                    <br>
                    {{location}}
                </div>
            </div>
            <footer class="card-footer">
                <a class="card-footer-item" href="{{url}}" target="_blank">{{url}}</a>
            </footer>
        </div>
    {{/each}}
</div>